body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background-color: #313F38;
    
}
header{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFCF6;
    font-family: 'EB Garamond';
    font-style: normal;

    background-color: #313F38;
}
.bankHotel{
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
header ul{
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header li{
    display: block;
    color: #FFFCF6;
    margin: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
header li a {
    text-decoration: none;
    color: #FFFCF6;
}
.phNumber{
    margin-right: 20px;
}

.line{
    color: rgba(63, 81, 72, 1);
    
    width: 100%;
    border: 1px solid #3F5148;
}



.head{
    width: 100%;
    height: 3000px;
    

}
.heading h1{
    width: 1241px;
    height: 130px;
    font-family: 'Miracle';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 130px;
    color: #FCD043;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    
    margin-left: 20px;
}
.secondHeading{
    margin-top: 200px;
    width: 100%;
    height: auto;
    
}

.secondHeading h2{
   
    width: 350px;
    height: 70px;
    font-family: 'Miracle';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-transform: capitalize;
    color: #FFFCF6;
    float: left;
    margin-left: 20px;
}

.secondHeading p{
    width: 300px;
    height: 240px;
    float: right;
    font-family: 'Helvetica Neue LT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFCF6;
    opacity: 0.8;
    margin-right: 250px;
    margin-top: 50px;

}

.photo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 700px;
    
}
.img1{
    width: 900px;
    height: 700px;
}
.img2{
    margin-top: 55px;
    width: 500px;
    height: 500px;
}

.service h2{
    width: 300px;
    height: 50px;
    font-family: 'Miracle';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    padding-left: 20px;
    letter-spacing: 0.03em;
    color: #FFFCF6;
}

.service p{
    
    width: 350px;
    height: 166px;
    
    font-family: 'Helvetica Neue LT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    
    color: #FFFCF6;
    margin-left: 20px;
    opacity: 0.8;
}

.description h2{
    width: 700px;
    height: 150px;
    left: 818px;
    top: 2454px;

    font-family: 'Miracle';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.03em;
    float: right;
    color: #FFFCF6;
    margin-top: 200px;
    margin-right: 100px;
}

.photo2{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.photo2Left{
    display: flex;
    flex-direction: column;
    
}
.photo2Left h3{
    width: 350px;
    height: 70px;
    font-family: 'Helvetica Neue LT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FCD043;
    padding-left: 20px;
    margin-top: 70px;
}

.photo2Left .img3{
    width: 400px;
    height: 450px;
}

.photo2Right{
    display: flex;
    flex-direction: column;
}

.photo2Right .img4{
    width: 1000px;
    height: 450px;
}

.photo2Right h2{
    width: 350px;
    height: 100px;
    font-family: 'Miracle';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #FFFCF6;
    padding-left: 70px;
    padding-top: 70px;
}

.photo2Right p{
    width: 350px;
    height: 160px;
    font-family: 'Helvetica Neue LT Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFCF6;
    opacity: 0.8;
    padding-left: 70px;
}

























.premium{
    width: 100%;
    height: auto;
    background-color: #313F38;
    padding-bottom: 140px;
    margin-top: 300px;
    color: #FFFCF6;
    
}


.contactNum p{
    width: 390px;
    height: 40px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-top: 50px;
    margin-left: 10px;
    
    
}

.contactNum h5{
    width: 210px;
    height: 36px;
    font-size: 18px;
    float: right;
    margin-right: 220px;
   
 
}

.get{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.get h1{
    font-family: 'Tapestry';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    padding-left: 10px;
    width: 715px;
    height: 220px;
    margin-top: 200px;
    
    
}
.get .star{
    margin: 10px;
    width: 80px;
    height: 80px;
    
    margin-left: 50px;
    margin-top: 250px;
    
}
.get .chair{
    width: 310px;
    height: 330px;
   
    margin-left: 50px;
    margin-top: 200px;
    
   
}

.touch h1{
    position: absolute;
    font-family: 'Tapestry';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    text-transform: uppercase;
    color: #FCD043;
    right: 30px;
    bottom: 260px;

}

.findRoom{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.findRoom h2{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    margin-left: 30px;
}
.findRoom .buttons{
    margin-left: 30px;
    width: 800px;
    height: 100px;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    background-color: #FFFCF6;
    margin-top: 100px;
    

}
.findRoom .buttons .checkin{
    width: 290px;
    border: none;
    background-color: #FFFCF6;
    
   
    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.findRoom .buttons .checkout{
    width: 290px;
    border: none;
    
    
    background-color: #FFFCF6;
    font-family: 'EB Garamond';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.findRoom .buttons .room{
   border: none;
    width: 220px;
  
    margin-bottom: -1px;
    background-color: #FCD043;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
   
}





footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 420px;
    position: absolute;
   background-color: #313F38;
   color: #FFFCF6;
    
   
   
}
.aboutus{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.aboutus div{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.aboutus p {
    margin-top: 50px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.aboutus .copy{
    

    opacity: 0.4;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 80px;
    
}
.news{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.news div{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.news p{
    margin-top: 50px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.news .input{
    margin-top: 40px;
    width: 285px;
    height: 64px;
    margin-bottom: -30px;
   
    background-color: #fffcf6;
    border: 1px solid #313F38;
}
.social{
    width: 350px;
}
.social .h3{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
}

.medias{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.slash{
    color: #FCD043;
}