body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #313F38;
    
}
header{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFCF6;
    font-family: 'EB Garamond';
    font-style: normal;
    background-color: #313F38;

}
.bankHotel{
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
header ul{
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header li{
    display: block;
    color: #FFFCF6;
    margin: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
header li a {
    text-decoration: none;
    color: #FFFCF6;
}
.phNumber{
    margin-right: 20px;
}

.photos{
    margin: 100px;
    
    color: #FFFCF6;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;

}
.head{
    float: left;
    width: 400px;
    height: 100px;
}
.photos img{
    width: 200px;
    height: 200px;
}


